<div class="container m-auto">
    <main class="d-flex justify-content-center align-items-center">
        <div class="card my-4 card_login">
            <div class="card-header d-flex justify-content-center align-items-center">
                <%=t('Reset_contrase単a') %>
            </div>
            <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="row my-4">
                        <div class="col-7 d-flex justify-content-center align-items-center">
                            <i class="fas fa-lock me-1"></i>
                            <p class="m-0 d-inline "> <%=t('Nueva_contrase単a') %> : </p> 
                        </div>
                        <div class="col-5"><%= f.password_field :password %></div>
                    </div>
                    <div class="row my-4">
                        <div class="col-7 d-flex justify-content-center align-items-center">
                            <i class="fas fa-lock me-1"></i>
                            <p class="m-0 d-inline "> <%=t('Cambiar_nueva_contrase単a')%>: </p> 
                        </div>
                        <div class="col-5"><%= f.password_field :password_confirmation %></div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="action form-group d-flex flex-column justify-content-center align-items-center">
                        <%= button_tag(type: 'submit', class: "btn btn-general px-4 py-2 my-3 btn-form") do %>
                            <i class="fas fa-sign-in-alt"></i><p class="d-inline"> <%=t('Cambiar_contrase単a') %></p>
                        <% end %>
                    </div>
                </footer>
            <%end%>
        </div>
    </main>
</div>