<body>
    <%= t('Saludo_mail') %> <%= @user.nombre %>, <br><br>

    <%=t('Mail_contrasena1')%>

    <%= link_to edit_password_reset_url(@user.reset_password_token)do%> 
        <span><%= t('Link_mail')%> </span>
    <% end %>

    <br><br>

    <%=t('Mail_contrasena2')%>
</body>
