<main class="guardarropa container">
    
    <h1 class="titulo my-4 text-center">Guardarropas de "Usuario"</h1>
    
    <div class="row mt-5 mb-3"> 
        <% @guardarropas.each do |guardarropa| %>
            <div class="col-12 my-2"> 
                <div class="card d-flex flex-row justify-content-between flex-wrap align-items-center">
                    <%= link_to guardarropa_prendas_path(guardarropa), class: "text-decoration-none d-flex flex-row justify-content-start flex-grow-1 align-items-center" do %>
                        <div class="p-0" >
                            <%if guardarropa.imagen.attached?%>
                                <%= image_tag(guardarropa.imagen , class:"card-fotos-guardarropa-index") %>
                            <%else%>
                                <%= image_tag(guardarropa.link_imagen , class:"card-fotos-guardarropa-index") %>
                            <%end%>
                            <!--<img src="<%= guardarropa.link_imagen %>" alt="" class="card-fotos-guardarropa-index">-->
                        </div>
                        <div class="textos d-flex flex-row  flex-grow-1 justify-content-around align-items-center">
                            <div class="card-nombre-guardarropa-index">
                                <h2 class="text-center container text-dark"><%= guardarropa.Nombre%></h2>
                            </div>
                            <div class="card-propiedades-guardarropa-index">
                                <h5 class="d-inline text-center container text-dark"><%= guardarropa.prendas.count%> prendas</h5>
                                <h5 class="d-inline text-center container text-dark"><%= guardarropa.atuendos.count%> atuendos</h5>
                            </div>
                        </div>
                        
                    <% end %>
                    
                    <div class="carda-iconos-guardarropa d-flex flex-row justify-content-between align-items-center">
                        <%= link_to edit_guardarropa_path(guardarropa) do %> <i class="fa fa-pencil-alt fa-2x text-dark mx-5"></i><%end%>
                        <%= link_to guardarropa_path(guardarropa), method: :delete, data: {confirm: '¿Seguro que desea eliminar este guardarropa?' } do %><i class="mx-5 fas fa-trash fa-2x text-dark"></i><% end %>
                    </div>

                </div>
            </div>
        <% end %>
    </div>

    <section class="navegacion-guardarropa d-flex justify-content-between align-center my-4">
        <%= link_to 'guardarropas/new', class: "btn btn-crear btn-lg" do %>  <i class="fas fa-plus fa-sm"></i> <p class="d-inline">Crear Guardarropa</p><%end%>
        <%= paginate @guardarropas, window: 3 %>
    </section>
</main>