<div class="atuendos-new container">
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to t('guardarropas'), guardarropas_path %></li>
                <li class="breadcrumb-item"><%= link_to t('atuendos'), guardarropa_atuendos_path(@guardarropa) %></li>
                <li class="breadcrumb-item active" aria-current="page"><%= btn_text%></li>
            </ol>
        </nav>
    </div>
    <h1 class="titulo mt-2 mb-2 text-center"><%= titulo %></h1>

    <%= form_for [@guardarropa,@atuendo], :html => {:class => 'form_atuendos mt-5 mb-4'} do |f| %>
        <div class="container mt-4">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <%= f.text_field :Descripcion, class: "container text-box form-control d-flex justify-content-center", placeholder: t('nombre') %>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Torso -->
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-12 d-block">
                <div class="row mb-3">
                    <div class="splide">
                        <div class="splide__slider">
                            <div class="splide__track">
                                <div class="splide__list">
                                    <% @prendas_torso.each do |prenda| %>
                                        <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                            <div class="card card_atuendos_new_torso h-100">
                                                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                                                    <%if prenda.imagen.attached?%>
                                                        <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                    <%else%>
                                                        <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                    <%end%>
                                                </div>
                                                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                                    <h5 class="container text-center text-dark">
                                                        <%= prenda.tipo%>
                                                    </h5>
                                                </div>
                                                <div class="invisible"><%= prenda.id%></div>
                                                <div class="invisible">
                                                    <%if(prenda.id == @prenda_torso)%>
                                                        <div class="prenda_torso_inicial"><%=@prenda_torso%></div>
                                                        <div class="contador"><%=@i%></div>
                                                    <%end%>
                                                    <%@i=@i+1%>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%@i=0%>

        <div class="invisible select-torso">
            <!--<select name="atuendo[prenda_torso_id]" id="atuendo_prenda_torso_id"><option value=""></option> </select> -->
            <%= f.select :prenda_torso_id,  class:"form-control"%>
        </div>

        <!-- Piernas -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="row mb-3">
                    <div class="splide">
                        <div class="splide__slider">
                            <div class="splide__track">
                                <div class="splide__list">
                                    <% @prendas_piernas.each do |prenda| %>
                                        <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                            <div class="card card_atuendos_new_piernas h-100">
                                                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                                                    <%if prenda.imagen.attached?%>
                                                        <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                    <%else%>
                                                        <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                    <%end%>
                                                </div>
                                                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                                    <h5 class="container text-center text-dark">
                                                        <%= prenda.tipo%>
                                                    </h5>
                                                </div>
                                                <div class="invisible"><%= prenda.id%></div>
                                                <div class="invisible">
                                                    <%if(prenda.id == @prenda_piernas)%>
                                                        <div class="prenda_piernas_inicial"><%=@prenda_piernas%></div>
                                                        <div class="contador"><%=@i%></div>
                                                    <%end%>
                                                </div>
                                                <%@i=@i+1%>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%@i=0%>

        <div class="invisible select-piernas">
            <!--<select name="atuendo[prenda_piernas_id]" id="atuendo_prenda_piernas_id"><option value=""></option> </select> -->
            <%= f.select :prenda_piernas_id,  class:"form-control"%>
        </div>

    <!-- Pies -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="row mb-3">
                    <div class="splide">
                        <div class="splide__slider">
                            <div class="splide__track">
                                <div class="splide__list">
                                    <% @prendas_pies.each do |prenda| %>
                                        <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                            <div class="card card_atuendos_new_pies h-100">
                                                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                                                    <%if prenda.imagen.attached?%>
                                                        <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                    <%else%>
                                                        <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                    <%end%>
                                                </div>
                                                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                                    <h5 class="container text-center text-dark">
                                                        <%= prenda.tipo%>
                                                    </h5>
                                                </div>
                                                <div class="invisible"><%= prenda.id%></div>
                                                <div class="invisible">
                                                    <%if(prenda.id == @prenda_pies)%>
                                                        <div class="prenda_pies_inicial"><%=@prenda_pies%></div>
                                                        <div class="contador"><%=@i%></div>
                                                    <%end%>
                                                </div>
                                                <%@i=@i+1%>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%@i=0%>

        <div class="invisible select-pies"> 
            <!--<select name="atuendo[prenda_pies_id]" id="atuendo_prenda_pies_id"><option value=""></option> </select>-->
            <%= f.select :prenda_pies_id,  class:"form-control"%>
        </div>

    <!-- Accesorio -->
        <div class="row d-flex justify-content-center"> 
            <div class="col-lg-12">
                <div class="row mb-3">
                    <div class="splide">
                        <div class="splide__slider">
                            <div class="splide__track">
                                <div class="splide__list">
                                    <% @prendas_accesorios.each do |prenda| %>
                                        <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                            <div class="card card_atuendos_new_accesorios h-100">
                                                <div class="container h-100 d-flex justify-content-center align-items-center my-1 h-100">
                                                    <%if prenda.imagen.attached?%>
                                                        <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                    <%else%>
                                                        <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                    <%end%>
                                                </div>
                                                <div class="card-footer card-footer-index d-flex justify-content-center align-center ">
                                                    <h5 class="container text-center text-dark">
                                                        <%= prenda.tipo%>
                                                    </h5>
                                                </div>
                                                <div class="invisible"><%= prenda.id%></div>
                                                <div class="invisible">
                                                    <%if(prenda.id == @prenda_accesorios)%>
                                                        <div class="prenda_accesorios_inicial"><%=@prenda_accesorios%></div>
                                                        <div class="contador"><%=@i%></div>
                                                    <%end%>
                                                </div>
                                                <%@i=@i+1%>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="invisible select-accesorios">
            <!--<select name="atuendo[prenda_accesorio_id]" id="atuendo_prenda_accesorio_id"><option value=""></option> </select>-->
            <%= f.select :prenda_accesorios_id,  class:"form-control"%>
        </div>
        
        <div class="container d-flex justify-content-center align-items-center etiquetas_atuendos_new my-5">
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('puntaje') %> 
                </span>
                <svg  width="32" height="32" viewBox="0 0 46 44 " >
                    <path class="estrella estrella-1" d="M23 36.5L8.893 43.916l2.694-15.708L.175 17.084l15.772-2.292L23 .5l7.053 14.292 15.772 2.292-11.412 11.124 2.694 15.708z" onclick="estrellas(1)"/>
                </svg>
                <svg  width="32" height="32" viewBox="0 0 46 44 " >
                    <path class="estrella estrella-2" d="M23 36.5L8.893 43.916l2.694-15.708L.175 17.084l15.772-2.292L23 .5l7.053 14.292 15.772 2.292-11.412 11.124 2.694 15.708z" onclick="estrellas(2)"/>
                </svg>
                <svg  width="32" height="32" viewBox="0 0 46 44 " >
                    <path class="estrella estrella-3" d="M23 36.5L8.893 43.916l2.694-15.708L.175 17.084l15.772-2.292L23 .5l7.053 14.292 15.772 2.292-11.412 11.124 2.694 15.708z" onclick="estrellas(3)"/>
                </svg>
                <svg  width="32" height="32" viewBox="0 0 46 44 " >
                    <path class="estrella estrella-4" d="M23 36.5L8.893 43.916l2.694-15.708L.175 17.084l15.772-2.292L23 .5l7.053 14.292 15.772 2.292-11.412 11.124 2.694 15.708z" onclick="estrellas(4)"/>
                </svg>
                <svg  width="32" height="32" viewBox="0 0 46 44 " >
                    <path class="estrella estrella-5" d="M23 36.5L8.893 43.916l2.694-15.708L.175 17.084l15.772-2.292L23 .5l7.053 14.292 15.772 2.292-11.412 11.124 2.694 15.708z" onclick="estrellas(5)"/>
                </svg>
                <div class="invisible puntaje">
                    <%if(edit)%>
                        <%= f.select :Puntaje, [@atuendo.Puntaje], class:"form-control"%>
                    <%else%>
                        <%= f.select :Puntaje, options_for_select(["0"]), class:"form-control puntaje"%>
                    <%end%>
                </div>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('formalidad') %>
                </span><%= f.select :Etiqueta_Formal, options_for_select([[t('formal'), 'Formal'],[t('informal'),'Informal']]), :prompt => t('elige_uno'), class:"form-control"%>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('estacion') %> 
                </span>
                <%= f.select :Etiqueta_Estacion, options_for_select([[t('verano'), 'Verano'],[t('invierno'),'Invierno'],[t('otoño'), 'Otonio'],[t('primavera'), 'Primavera']]), :prompt => t('elige_uno'), class:"form-control"%>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('horario') %> 
                </span>
                <%= f.select :Etiqueta_DiaNoche,options_for_select([[t('dia'), 'Dia'],[t('noche'),'Noche']]), :prompt => t('elige_uno'), class:"form-control"%>
            </li>
        </div>
        
        <div class="container">
            <div class="botones-responsive d-flex justify-content-center align-center my-4">
                <%= link_to link_volver, class:"btn-salir btn-form px-3 py-2 text-decoration-none text-center text-white m-2 form-control", data: {confirm: t('volver_sin_guardar?') } do%>
                    <i class="fa fa-arrow-left"></i><p class="d-inline"> <%=t('volver') %></p>
                <% end %>
                <%= link_to ruta, method: :get, class: hide + " btn btn-crear btn-form px-3 py-2 m-2 form-control" do %><i class="fas fa-dice"></i> <p class="d-inline"> <%=t('generar_atuendo_aleatorio')%> </p><%end%>
                <%= button_tag(type: 'submit', class: "btn btn-crear btn-form px-3 py-2 m-2 form-control") do %>
                    <i class="fas fa-check"></i> <p class="d-inline"><%=t('confirmar') %></p> <!-- Ver porque no funciona <i class="bi bi-plus-circle"></i> -->
                <% end %>
            </div>
        </div>
        
    <% end %>
</div>

