<div class="atuendos-new container">
    <h1 class="titulo mt-4 mb-2 text-center"><%= titulo %></h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Guardarropas", guardarropas_path %></li>
            <li class="breadcrumb-item"><%= link_to "Prendas", guardarropa_prendas_path(@guardarropa) %></li>
            <li class="breadcrumb-item"><%= link_to "Atuendos", guardarropa_atuendos_path(@guardarropa) %></li>
            <li class="breadcrumb-item active" aria-current="page">Crear</li>
        </ol>
    </nav>
    <%= form_for [@guardarropa,@atuendo] do |f| %>
<!-- Torso -->
    <%= f.text_field :Descripcion, class: "my-2 text-box form-control d-flex justify-content-center", placeholder: "Nombre" %>  
    <div class="row d-flex justify-content-center ">
        <div class="col-lg-1 d-flex justify-content-center align-items-center d-block">
            <h2 class="d-block">Torso:</h2>
        </div>

        <div class="col-lg-9 d-block">
            <div class="row mt-5 mb-3">
                <div class="splide">
                    <div class="splide__slider">
                        <div class="splide__track">
                            <div class="splide__list">
                                <% @prendas_torso.each do |prenda| %>
                                    <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                        <div class="card card_atuendos_new_torso h-100">
                                            <div class="container  d-flex justify-content-center align-items-center my-1" >
                                                <%if prenda.imagen.attached?%>
                                                    <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                <%else%>
                                                    <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                <%end%>
                                            </div>
                                            <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                                <h5 class="container text-center text-dark">
                                                    <%= prenda.tipo%>
                                                </h5>
                                            </div>
                                            <div class="invisible"><%= prenda.id%></div>
                                            <div class="invisible">
                                                <%if(prenda.id == @prenda_torso)%>
                                                    <div class="prenda_torso_inicial"><%=@prenda_torso%></div>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%=@prenda_torso%>


    <div class="invisible">
        <!--<select name="atuendo[prenda_torso_id]" id="atuendo_prenda_torso_id"><option value=""></option> </select> -->
        <%= f.select :prenda_torso_id, options_for_select(@conversion_torso),  class:"form-control"%>
    </div>

<!-- Piernas -->
    <div class="row d-flex justify-content-center">
        <div class="col-lg-1 d-flex justify-content-center align-items-center">
            <h2>Piernas:</h2>
        </div>

        <div class="col-lg-9">
            <div class="row mt-5 mb-3">
                <div class="splide">
                    <div class="splide__slider">
                        <div class="splide__track">
                            <div class="splide__list">
                                <% @prendas_piernas.each do |prenda| %>
                                    <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                        <div class="card card_atuendos_new_piernas h-100">
                                            <div class="container  d-flex justify-content-center align-items-center my-1" >
                                                <%if prenda.imagen.attached?%>
                                                    <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                <%else%>
                                                    <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                <%end%>
                                            </div>
                                            <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                                <h5 class="container text-center text-dark">
                                                    <%= prenda.tipo%>
                                                </h5>
                                            </div>
                                            <div class="invisible"><%= prenda.id%></div>
                                            <div class="invisible">
                                                <%if(prenda.id == @prenda_piernas)%>
                                                    <div class="prenda_piernas_inicial"><%=@prenda_piernas%></div>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%=@prenda_piernas%>



    <div class="invisible">
        <!--<select name="atuendo[prenda_piernas_id]" id="atuendo_prenda_piernas_id"><option value=""></option> </select> -->
        <%= f.select :prenda_piernas_id, options_for_select(@conversion_piernas),  class:"form-control"%>
    </div>

<!-- Pies -->
    <div class="row d-flex justify-content-center">
        <div class="col-lg-1 d-flex justify-content-center align-items-center">
            <h2>Pies:</h2>
        </div>
        <div class="col-lg-9">
            <div class="row mt-5 mb-3">
                <div class="splide">
                    <div class="splide__slider">
                        <div class="splide__track">
                            <div class="splide__list">
                                <% @prendas_pies.each do |prenda| %>
                                    <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                        <div class="card card_atuendos_new_pies h-100">
                                            <div class="container  d-flex justify-content-center align-items-center my-1" >
                                                <%if prenda.imagen.attached?%>
                                                    <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                <%else%>
                                                    <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                <%end%>
                                            </div>
                                            <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                                <h5 class="container text-center text-dark">
                                                    <%= prenda.tipo%>
                                                </h5>
                                            </div>
                                            <div class="invisible"><%= prenda.id%></div>
                                            <div class="invisible">
                                                <%if(prenda.id == @prenda_pies)%>
                                                    <div class="prenda_pies_inicial"><%=@prenda_pies%></div>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%=@prenda_pies%>

    <div class="invisible"> 
        <!--<select name="atuendo[prenda_pies_id]" id="atuendo_prenda_pies_id"><option value=""></option> </select>-->
        <%= f.select :prenda_pies_id, options_for_select(@conversion_pies),  class:"form-control"%>
    </div>

<!-- Accesorio -->
    <div class="row d-flex justify-content-center"> 
        <div class="col-lg-1 d-flex justify-content-center align-items-center">
            <h2>Accesorio:</h2>
        </div>
        <div class="col-lg-9">
            <div class="row mt-5 mb-3">
                <div class="splide">
                    <div class="splide__slider">
                        <div class="splide__track">
                            <div class="splide__list">
                                <% @prendas_accesorios.each do |prenda| %>
                                    <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                                        <div class="card card_atuendos_new_accesorio h-100">
                                            <div class="container  d-flex justify-content-center align-items-center my-1" >
                                                <%if prenda.imagen.attached?%>
                                                    <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                                <%else%>
                                                    <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                                <%end%>
                                            </div>
                                            <div class="card-footer card-footer-index d-flex justify-content-center align-center ">
                                                <h5 class="container text-center text-dark">
                                                    <%= prenda.tipo%>
                                                </h5>
                                            </div>
                                            <div class="invisible"><%= prenda.id%></div>
                                            <div class="invisible">
                                                <%if(prenda.id == @prenda_accesorios)%>
                                                    <div class="prenda_accesorios_inicial"><%=@prenda_accesorios%></div>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%=@prenda_accesorios%>

    <div class="invisible">
        <!--<select name="atuendo[prenda_accesorio_id]" id="atuendo_prenda_accesorio_id"><option value=""></option> </select>-->
        <%= f.select :prenda_accesorios_id, options_for_select(@conversion_accesorios),  class:"form-control"%>
    </div>

    <li class="list-group-item"><span class="negrita">Puntaje: </span><%= f.select :Puntaje, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], :prompt => 'Elige uno', class:"form-control"%></li>
    <li class="list-group-item"><span class="negrita">Formalidad: </span><%= f.select :Etiqueta_Formal, ['Formal', 'Informal'], :prompt => 'Elige uno', class:"form-control"%></li>
    <li class="list-group-item"><span class="negrita">Estación: </span><%= f.select :Etiqueta_Estacion, options_for_select([['Verano', 'Verano'],['Invierno','Invierno'],['Otoño/Primavera', 'OtonioPrimavera']]), :prompt => 'Elige uno', class:"form-control"%></li>
    <li class="list-group-item"><span class="negrita">Horario: </span><%= f.select :Etiqueta_DiaNoche, ['Dia', 'Noche'], :prompt => 'Elige uno', class:"form-control"%></li>

    <%= button_tag(type: 'submit', class: "btn btn-general px-3 py-2 my-3 form-control ") do %>
            <i class="subir"></i> <p class="d-inline"><%= btn_text %></p> <!-- Ver porque no funciona <i class="bi bi-plus-circle"></i> -->
    <% end %>
    <% end %>
</div>

