<main class="guardarropa container">
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to t('guardarropas'), guardarropas_path %></li>
                <li class="breadcrumb-item active" aria-current="page"> <%=t('atuendos')%> </li>
            </ol>
        </nav>
    </div>
    <h1 class="titulo my-4 text-center"><%=t('atuendos_de', guardarropa_nombre: @guardarropa.Nombre)%></h1>
    
    <%= form_tag guardarropa_atuendos_path(@guardarropa), method: :get do %>
        <div class="d-flex justify-content-center align-items-center">
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('puntaje') %> 
                </span>
                <%= select_tag :Puntaje, options_for_select(["1", "2", "3", "4", "5"]), :prompt => t('elige_uno'), class:"form-control select_puntaje"%>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('formalidad') %>
                </span><%= select_tag :Formalidad, options_for_select(["Formal","Informal"]), :prompt => t('elige_uno'), class:"form-control select_formalidad"%>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    <%=t('estacion') %> 
                </span>
                <%= select_tag :Estacion, options_for_select(["Verano","Invierno", "OtonioPrimavera"]), :prompt => t('elige_uno'), class:"form-control select_estacion"%>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    Horario
                </span>
                <%= select_tag :DiaNoche, options_for_select(["Dia","Noche"]), :prompt => t('elige_uno'), class:"form-control select_horario"%>
            </li>
            <li class="list-group-item border-0 d-inline">
                <span class="negrita">
                    Ordenar
                </span>
                <%= select_tag :orden, options_for_select(["AZ","ZA","Mayor puntaje","Menor puntaje"]), :prompt => t('elige_uno'), class:"form-control select_orden"%>
            </li>

            <%= button_tag(type: 'submit', class: "align-self-end btn btn-crear btn-form px-3 py-2  form-control btn-filtar-atuendos") do %>
                <i class="fas fa-filter text-white"></i><p class="d-inline"> Filtrar</p>
            <% end %>
            <%= button_tag(type: 'submit', class: "align-self-end   btn-form px-3 py-2  form-control btn-desfiltrar-atuendos" ,:onclick => "eliminarFiltros()") do %>
                <i class="fas fa-filter text-white">
                    <i class="fas fa-slash sacar-margen"></i>
                </i>
                <p class="d-inline"> Eliminar filtros</p>
            <% end %>

        </div>
    <% end%>

    <div class="splide">
        <div class="splide__slider">
            <div class="splide__track">
                <div class="splide__list">
                    <% @atuendos.each do |atuendo| %>
                        <div class="splide__slide">
                            <%= link_to guardarropa_atuendo_path(@guardarropa,atuendo), class: "text-decoration-none" do %>
                                <div class="card h-100">
                                    <div class="m-4 h-100 row d-flex align-items-center">
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_torso.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_torso.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_torso.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_piernas.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_piernas.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_piernas.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_pies.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_pies.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_pies.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_accesorios.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_accesorios.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_accesorios.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                    </div>

                                    <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                        <h5 class="container text-center text-dark">
                                            <%= atuendo.Descripcion%>
                                        </h5>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>   

    <section class="navegacion-guardarropa botones-responsive d-flex justify-content-center align-center my-4">
        <%= link_to guardarropas_path, class: "btn btn-volver-guardarropas btn-lg m-2" do %><i class="fas fa fa-arrow-left fa-sm"></i> <p class="d-inline"><%=t('guardarropas') %></p><%end%>
        <%= link_to guardarropa_prendas_path(@guardarropa), class: "btn btn-volver-guardarropas btn-lg m-2" do %><i class="fas fa fa-arrow-left fa-sm"></i> <p class="d-inline"><%=t('prendas')%></p><%end%>
        <!-- <%= link_to guardarropa_prendas_path(@guardarropa), class: "btn btn-crear btn-lg m-2" do %><i class="fas fa-list"></i> <p class="d-inline">Prendas</p><%end%> -->
        <%= link_to new_guardarropa_atuendo_path(@guardarropa), class: "btn btn-crear btn-lg m-2" do %><i class="fas fa-plus fa-sm"></i> <p class="d-inline"><%=t('creacion_atuendo')%></p><%end%>
    </section>
</main>

