<main class="guardarropa container">
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "Guardarropas", guardarropas_path %></li>
                <li class="breadcrumb-item"><%= link_to "Prendas", guardarropa_prendas_path(@guardarropa) %></li>
                <li class="breadcrumb-item active" aria-current="page">Atuendos</li>
            </ol>
        </nav>
    </div>
    <h1 class="titulo my-4 text-center">Atuendos de <%= @guardarropa.Nombre %></h1>
    

    <div class="splide">
        <div class="splide__slider">
            <div class="splide__track">
                <div class="splide__list">
                        <% @atuendos.each do |atuendo| %>
                        <div class="splide__slide">
                            <%= link_to guardarropa_atuendo_path(@guardarropa,atuendo), class: "text-decoration-none" do %>
                                <div class="card h-100">
                                    <div class="m-4 h-100 row d-flex align-items-center">
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_torso.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_torso.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_torso.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_piernas.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_piernas.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_piernas.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_pies.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_pies.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_pies.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center align-items-center">
                                            <%if atuendo.prenda_accesorios.imagen.attached?%>
                                                <%= image_tag(atuendo.prenda_accesorios.imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%else%>
                                                <%= image_tag(atuendo.prenda_accesorios.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                                            <%end%>
                                        </div>
                                    </div>

                                    <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                                        <h5 class="container text-center text-dark">
                                            <%= atuendo.Descripcion%>
                                        </h5>
                                    </div>
                                </div>
                            <%end%>
                            </div>
                        <%end%>
                </div>
            </div>
        </div>
    </div>   

    <section class="navegacion-guardarropa botones-responsive d-flex justify-content-center align-center my-4">
        <%= link_to guardarropas_path, class: "btn btn-volver-guardarropas btn-lg m-2" do %><i class="fas fa fa-arrow-left fa-sm"></i> <p class="d-inline">Guardarropas</p><%end%>
        <%= link_to guardarropa_prendas_path(@guardarropa), class: "btn btn-crear btn-lg m-2" do %><i class="fas fa-list"></i> <p class="d-inline">Prendas</p><%end%>
        <%= link_to new_guardarropa_atuendo_path(@guardarropa), class: "btn btn-crear btn-lg m-2" do %><i class="fas fa-plus fa-sm"></i> <p class="d-inline">Crear atuendo</p><%end%>
    </section>
</main>

