<div class="atuendos-new container">
    <h1 class="titulo mt-4 mb-2 text-center">Creacion de atuendo</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Guardarropas", guardarropas_path %></li>
            <li class="breadcrumb-item"><%= link_to "Prendas", guardarropa_prendas_path(@guardarropa) %></li>
            <li class="breadcrumb-item"><%= link_to "Atuendos", guardarropa_atuendos_path(@guardarropa) %></li>
            <li class="breadcrumb-item active" aria-current="page">Crear</li>
        </ol>
    </nav>

    <%= form_for [@guardarropa,@atuendo] do |f| %>
        <!-- Torso -->
        <div class="row">
            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                <h2>Torso:</h2>
            </div>
            
            <div class="col-lg-9">
                <div class="row mt-5 mb-3">
                    
                    <%= f.select :prenda_torso_id, options_for_select(@conversion_torso),  class:"form-control"%>

                </div>
            </div>

        </div>

        <!-- Piernas -->
        <div class="row">
            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                <h2>Piernas:</h2>
            </div>

            <div class="col-lg-9">
                <div class="row mt-5 mb-3">

                    <%= f.select :prenda_piernas_id, options_for_select(@conversion_piernas),  class:"form-control"%>

                </div>
            </div>

        </div>

        <!-- Pies -->
        <div class="row">
            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                <h2>Pies:</h2>
            </div>

            <div class="col-lg-9">
                <div class="row mt-5 mb-3">

                    <%= f.select :prenda_pies_id, options_for_select(@conversion_pies),  class:"form-control"%>
                    
                </div>
            </div>

        </div>

        <!-- Accesorio -->
        <div class="row"> 
            <div class="col-lg-1 d-flex justify-content-center align-items-center">
                <h2>Accesorio:</h2>
            </div>

            <div class="col-lg-9">
                <div class="row mt-5 mb-3">

                    <%= f.select :prenda_accesorios_id, options_for_select(@conversion_accesorios),  class:"form-control"%>
                    
                </div>
            </div>

        </div>

        <%= button_tag(type: 'submit', class: "btn btn-general px-3 py-2 my-3 form-control ") do %>
            <i class="subir"%></i> <p class="d-inline">hola que tal</p> <!-- Ver porque no funciona <i class="bi bi-plus-circle"></i> -->
        <% end %>

    <%end%>
</div>




