<div class="container">
    <div class="container mt-4 mb-0">
        <nav aria-label="breadcrumb mb-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to t('Guardarropas'), guardarropas_path %></li>
                <li class="breadcrumb-item"><%= link_to t('Atuendos'), guardarropa_atuendos_path(@guardarropa) %></li>
                <li class="breadcrumb-item active" aria-current="page"> <%=t('Atuendo') %> </li>
            </ol>
        </nav>
    </div>

    <main class="prenda d-flex justify-content-center mb-5">
        <div class="card my-4 card_atuendo_show">
            <div class="card-header d-flex justify-content-between align-items-center">
                <%= link_to guardarropa_atuendos_path(@guardarropa) do %> <i class="fa fa-arrow-left text-dark"></i> <%end%>
                <div class="px-3 text-center overflow-auto"><%= @atuendo.Descripcion %></div>
                <%= link_to guardarropa_atuendo_path(@guardarropa,@atuendo), method: :delete, data: {confirm: '¿Seguro que desea eliminar esta prenda?' } do %><i class="fas fa-trash text-dark"></i><% end %>
            </div>

            <div class="m-4 row d-flex justify-content-around align-items-center">
                <div class="col-5 prenda_atuendo_show d-flex flex-column justify-content-center align-items-center">
                    <%= image_tag(@atuendo.prenda_torso.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                    <%= @atuendo.prenda_torso.tipo %>
                </div>
                <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                    <%= image_tag(@atuendo.prenda_piernas.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                    <%= @atuendo.prenda_piernas.tipo %>
                </div>      
            </div>
            
            <div class="m-4 row d-flex justify-content-around align-items-center">
                <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                    <%= image_tag(@atuendo.prenda_pies.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                    <%= @atuendo.prenda_pies.tipo %>
                </div>
                <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                    <%= image_tag(@atuendo.prenda_accesorios.link_imagen , class:"card_imagen_atuendos_index h-100") %>
                    <%= @atuendo.prenda_accesorios.tipo %>
                </div>    
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="negrita"> 
                        <%=t('Puntaje')%>: 
                    </span>
                    <%if(@atuendo.Puntaje == "5")%>
                        <%=  render partial: "layouts/estrellas"%>
                        <%=  render partial: "layouts/estrellas"%>
                        <%=  render partial: "layouts/estrellas"%>
                        <%=  render partial: "layouts/estrellas"%>
                        <%=  render partial: "layouts/estrellas"%>
                    <%end%>
                    <%if(@atuendo.Puntaje == "4")%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                    <%end%>
                    <%if(@atuendo.Puntaje == "3")%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                    <%end%>
                    <%if(@atuendo.Puntaje == "2")%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                    <%end%>
                    <%if(@atuendo.Puntaje == "1")%>
                        <%= render partial: "layouts/estrellas"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                    <%end%>
                    <%if(@atuendo.Puntaje == "0")%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                        <%= render partial: "layouts/estrellas_oscuras"%>
                    <%end%>
                </li>
                <li class="list-group-item"><span class="negrita"><%=t('Formalidad')%>: </span><%= t(@atuendo.Etiqueta_Formal) %></li>
                <li class="list-group-item">
<<<<<<< HEAD
                    <span class="negrita"><%=t('estacion')%>: </span>
                    <%if @atuendo.Etiqueta_Estacion != "Otonio" && @atuendo.Etiqueta_Estacion != "Primavera"%>
                        <%= @atuendo.Etiqueta_Estacion %>
                    <%else%>
                        <%if @atuendo.Etiqueta_Estacion == "Otonio"%>
                            <%="Otoño"%>
                        <%else%>
                            <%="Primavera"%>
                        <%end%>
                    <%end%>
=======
                    <span class="negrita"><%=t('Estacion')%>: </span> 
                    <%= t(@atuendo.Etiqueta_Estacion) %>
>>>>>>> 49ae5282f43e70dcfa4c7fd65657e0fc68b343eb
                </li>
                <li class="list-group-item"><span class="negrita"><%=t('Horario')%>: </span><%= t(@atuendo.Etiqueta_DiaNoche) %></li>
            </ul>

            <footer class="card-footer">
                <div class="action form-group">
                    <%= link_to edit_guardarropa_atuendo_path(@guardarropa,@atuendo), class: "btn btn-general btn-form px-3 py-2 my-1 form-control" do %> <i class="fas fa-pencil-alt"></i><p class="d-inline"> <%=t('Editar')%></p> <%end%>
                </div>
            </footer>
        </div>
    </main>
</div>

