<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Guardarropas", guardarropas_path %></li>
            <li class="breadcrumb-item"><%= link_to "Prendas", guardarropa_prendas_path(@guardarropa) %></li>
            <li class="breadcrumb-item"><%= link_to "Atuendos", guardarropa_atuendos_path(@guardarropa) %></li>
            <li class="breadcrumb-item active" aria-current="page">Atuendo</li>
        </ol>
    </nav>
    <main class="prenda d-flex justify-content-center my-5">
        <div class="card my-4">
            <div class="card ">
                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                    <%= image_tag(@atuendo.prenda_torso.link_imagen , class:"fotos_cards_index h-100") %>
                </div>
            
                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                    <h5 class="container text-center text-dark">
                        <%= @atuendo.prenda_torso.tipo%>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                    <%= image_tag(@atuendo.prenda_piernas.link_imagen , class:"fotos_cards_index h-100") %>
                </div>
                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                    <h5 class="container text-center text-dark">
                        <%= @atuendo.prenda_piernas.tipo%>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                    <%= image_tag(@atuendo.prenda_pies.link_imagen , class:"fotos_cards_index h-100") %>
                </div>
                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                    <h5 class="container text-center text-dark">
                        <%= @atuendo.prenda_pies.tipo%>
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="container h-100 d-flex justify-content-center align-items-center my-1" >
                    <%= image_tag(@atuendo.prenda_accesorios.link_imagen , class:"fotos_cards_index h-100") %>
                </div>
                <div class="card-footer card-footer-index d-flex justify-content-center align-center">
                    <h5 class="container text-center text-dark">
                        <%= @atuendo.prenda_accesorios.tipo%>
                    </h5>
                </div>
            </div>
        </div>
    </main>
</div>