<% if can? :edit, @user %>
  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          
          <td>Guardarropas: <%= user.guardarropas.length  %></td>
          <% @cantidad_prendas = 0 %>
          <% user.guardarropas.each do |guardarropa| %>
            <% @cantidad_prendas += guardarropa.prendas.length %>
          <% end %>
          <td>Prendas: <%= @cantidad_prendas %> <td>
          <td>Fecha de registro: <%= user.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= paginate @users, window: 3 %>
<% else %>
    <%= render partial: "error_autorizacion"%>
<% end %>
