<main class="d-flex m-auto justify-content-center align-items-center">
    <div class="card my-4 card_login">
        <div class="card-header d-flex justify-content-center align-items-center">
            <%=t('Registrarse') %>
        </div>
        <%= form_with(model: @user, local: true) do |form| %>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <div>
                    <div class="row my-4">
                            <div class="col-5 d-flex justify-content-center align-items-center"> 
                                <i class="fas fa-envelope me-1"></i>
                                <p class="m-0 d-inline">&nbspEmail: </p> 
                            </div>
                            <div class="col-7"><%= form.text_field :email %></div>
                    </div>
                    <div class="row my-4">
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <i class="fas fa-lock"></i>
                                <p class="m-0 d-inline me-1"> <%=t('Contrasena') %> : </p> 
                            </div>
                            <div class="col-7"><%= form.password_field :password %></div>
                    </div>
                    <div class="row my-4">
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <i class="fas fa-lock"></i>
                                <p class="m-0 d-inline me-1"> <%=t('Confirmar')%>: </p> 
                            </div>
                            <div class="col-7"><%= form.password_field :password_confirmation %></div>
                    </div>
                    <div class="row my-4">
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <i class="fas fa-user"></i>
                                <p class="m-0 d-inline me-1"><%=t('Nombre')%>: </p> 
                            </div>
                            <div class="col-7"><%= form.text_field :nombre %></div>
                    </div>
                    <div class="row my-4">
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <i class="fas fa-user"></i>
                                <p class="m-0 d-inline me-1"><%=t('Apellido')%>: </p> 
                            </div>
                            <div class="col-7"><%= form.text_field :apellido %></div>
                    </div>
                    <div class="row my-4">
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <i class="fas fa-venus-mars"></i>
                                <p class="m-0 d-inline me-1"><%=t('Genero')%>: </p> </div>
                            <div class="col-7"><%= form.select :genero, options_for_select([[t('Hombre'),'Hombre'],[t('Mujer'),'Mujer'],[t('Otro'),'Otro']]), :prompt => t('Elige_uno')%></div>
                    </div>
                </div>
            </div>

            <footer class="card-footer">
                <div class="action form-group d-flex flex-column justify-content-center align-items-center">
                    <%= button_tag(type: 'submit', class: "btn btn-general px-4 py-2 m-3 btn-form") do %>
                        <i class="fas fa-user-plus"></i><p class="d-inline"> <%=t('Registrarse')%></p>
                    <% end %>
                    <%= link_to login_path, class: "my-2 text-dark fw-bold text-decoration-none" do%>
                        <%=t('Ya_tienes_usuario')%> <span class="color-letra-terciario"><%=t('Iniciar_sesion')%></span> 
                    <% end %>
                </div>
            </footer>
        <% end %>
    </div>
</main>