<div class="d-flex  justify-content-center">
    <div class="card mi_card ">
        <%= form_for @prenda do |f| %>
            <div class="card-header position-relative">
                <%= f.text_field :tipo, class: "my-2 text-box form-control d-flex justify-content-center", placeholder: "Nombre" %>  
            </div>
            <div class="container d-flex justify-content-center my-2" >
                <%if  @prenda.imagen.attached? %>
                    <%= image_tag( @prenda.imagen , class:"fotos_cards h-100") %>
                <%elsif @prenda.link_imagen != nil %>           <!--No entiendo porqué esto no es al revés pero asi funciona y de la otra forma no-->
                    <%= image_tag( @prenda.link_imagen , class:"fotos_cards h-100") %>
                <%else %>
                    <%= image_tag("imagen_no_disponible.jpg", class:"fotos_cards h-100") %>
                <%end %>
                
            </div>
            <div class="field form-group">   
                    <!--<% if @prenda.imagen.attached? %>
                    <%= image_tag (@prenda.imagen) , style: "width:200px; display: block" %>
                    <%end%>
                    <%=f.label :imagen %> -->
                    <%=f.file_field :imagen , class: "form-control"%>
                </div>
                <div class="field form-group">
                    <b>Link de la Imagen: </b>
                    <%= f.text_field :link_imagen, class: "my-2 text-box form-control", placeholder: "Link" %>
                </div>            
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Categoria: </b><%= f.select :categoria, [ 'Torso', 'Piernas', 'Pies', 'Accesorio'], :prompt => 'Elige uno', class:"form-control"%></li>
                    <li class="list-group-item"><b>Tela: </b><%= f.text_field :tela, class: "my-2 text-box form-control", placeholder: "Ej: Tela, Cuero, etc." %></li>
                    <li class="list-group-item"><b>Color primario: </b><%= f.text_field :color_p, class: "my-2 text-box form-control", placeholder: "Ej: Rojo, Azul, etc." %> </li>
                    <li class="list-group-item"><b>Color primario: </b><%= f.text_field :color_s, class: "my-2 text-box form-control", placeholder: "Ej: Rosa, Naranja, etc." %> </li>
            </ul>

            <card-footer>
                <div class="action form-group">
                    <%= f.submit   class: "btn btn-general px-3 py-2 my-3 form-control" %>
                    <%= button_to "Volver", "/prendas", class:"btn-salir px-3  text-white form-control"%>
                </div>
            </card-footer>
        <% end %>

            <!--
            <%= form_for @prenda do |f| %>
                <div class="field form-group">
                    Tipo de prenda: 
                    <%= f.text_field :tipo, class: "my-2 text-box form-control" %>
                </div>
                <div class="field form-group">
                    Categoria de la prenda:
                    <%= f.select :categoria, [ 'Torso', 'Piernas', 'Pies', 'Accesorio'], :prompt => 'Elige uno', class:"form-control"%>
                <div class="field form-group">
                    Tela de la prenda: 
                    <%= f.text_field :tela, class: "my-2 text-box form-control" %>
                </div>
                <div class="field form-group">
                    Color Primario de la prenda: 
                    <%= f.text_field :color_p, class: "my-2 text-box form-control" %>
                </div>
                <div class="field form-group">
                    Color secundario de la prenda: 
                    <%= f.text_field :color_s, class: "my-2 text-box form-control" %>
                </div>
                <div class="field form-group">
                    Link de Imagen de la prenda: 
                    <%= f.text_field :link_imagen, class: "my-2 text-box form-control" %>
                </div>
                <div class="field form-group">   
                    <% if @prenda.imagen.attached? %>
                    <%= image_tag (@prenda.imagen) , style: "width:200px; display: block" %>
                    <%end%>
                    <%=f.label :imagen %>
                    <%=f.file_field :imagen , class: "form-control"%>
                </div>
                <div class="action form-group">
                    <%= f.submit   class: "btn btn-general btn-lg px-3 py-2 my-3 form-control"%>
                    <%= button_to "Volver", "/prendas", class:"btn-salir px-3  text-white form-control"%>
                </div>
            <% end %>
            -->
    </div>
</div>