<main class= "container h-100">
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "Guardarropas", guardarropas_path%></li>
                <li class="breadcrumb-item"><%= link_to "Prendas", guardarropa_prendas_path(@guardarropa) %></li>
                <li class="breadcrumb-item active" aria-current="page"><%= btn_text %></li>
            </ol>
        </nav>
    </div>
    <h1 class = "titulo text-center mt-4 mb-3"> <%= titulo %> </h1>

    <div class="d-flex  justify-content-center">
        <div class="card mi_card_modif ">
            <%= form_for [@guardarropa,@prenda] do |f| %>
                <div class="card-header card-header-atuendos-new position-relative">
                    <%= f.text_field :tipo, class: "my-2 text-box form-control d-flex justify-content-center", placeholder: "Nombre" %>  
                </div>

                <div class="container d-flex justify-content-center my-2">
                    <%if prenda.imagen.attached?%>
                        <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                    <%else%>
                        <%= image_tag(link_imagen , class:"fotos_cards_index h-100") %>
                    <%end%>
                </div>

                <div class="field form-group">   
                    <%=f.file_field :imagen , class: "form-control"%>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="negrita">Link de la Imagen: </span><%= f.text_field :link_imagen, class: "my-2 text-box form-control", placeholder: "Link imagen" %>
                    <li class="list-group-item"><span class="negrita">Categoria: </span><%= f.select :categoria, [ 'Torso', 'Piernas', 'Pies', 'Accesorio'], :prompt => 'Elige uno', class:"form-control"%></li>
                    <li class="list-group-item"><span class="negrita">Tipo de tela:</span> <%= f.select :tela, ['Algodon', 'Lana', 'Lino', 'Cuero', 'Denim', 'Seda', 'Poliester', 'Mohair', 'Piel', 'Cuerina'], :prompt => 'Elige uno', class: "form-control"%></li>
                    <li class="list-group-item"><span class="negrita">Color primario: </span><%= f.color_field :color_primario, class: "my-2 text-box form-control" %></li>
                    <li class="list-group-item"><span class="negrita">Color secundario: </span><%= f.color_field :color_secundario, class: "my-2 text-box form-control" %></li></li>
                </ul>
                
                <footer class="card-footer">
                    <div class="action form-group">
                        <%= button_tag(type: 'submit', class: "btn btn-general px-3 py-2 my-3 form-control ") do %>
                            <i class="fas fa-check"></i> <p class="d-inline">Confirmar</p> <!-- Ver porque no funciona <i class="bi bi-plus-circle"></i> -->
                        <% end %>
                        
                        <%= link_to link_volver, class:"btn-salir px-3 text-decoration-none text-center text-white form-control", data: {confirm: '¿Volver sin guardar?' } do%>
                            <i class="fa fa-arrow-left"></i><p class="d-inline"> Volver</p>
                        <% end %>
                    </div>
                </footer>
            <% end %>
        </div>
    </div>
</main>