<main class="guardarropa container">
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "Guardarropas", guardarropas_path%></li>
                <li class="breadcrumb-item active" aria-current="page">Prendas</li>
            </ol>
        </nav>
    </div>
    <h1 class="container titulo mt-4 mb-4 text-center">Prendas de "<%= @guardarropa.Nombre %>"</h1>
<div class="d-flex justify-content-center align-center">
        <%= link_to edit_guardarropa_path(@guardarropa) do %> <i class="fa fa-pencil-alt fa-2x text-dark mx-5"></i><%end%>
        <%= link_to guardarropa_path(@guardarropa), method: :delete, data: {confirm: '¿Seguro que desea eliminar este guardarropa?' } do %><i class="mx-5 fas fa-trash fa-2x text-dark"></i><% end %>
    </div>
    <div class="splide">
        <div class="splide__slider">
            <div class="splide__track">
                <div class="splide__list">

                    <% @prendas.each do |prenda| %>
                        <div class=" splide__slide "> <!-- Puse 6 por cada una porque con 8 no sabia como hacer para que cuando se mas chica la pantalla aparezcan menos-->
                            <%= link_to guardarropa_prenda_path(@guardarropa,prenda), class: "text-decoration-none" do %>
                                <div class="card h-100">
                                    <div class="h-100 container  d-flex justify-content-center align-items-center my-1" >
                                        <%if prenda.imagen.attached?%>
                                            <%= image_tag(prenda.imagen , class:"fotos_cards_index h-100") %>
                                        <%else%>
                                            <%= image_tag(prenda.link_imagen , class:"fotos_cards_index h-100") %>
                                        <%end%>
                                    </div>

                                    <div class="card-footer card-footer-index-guardarropas d-flex justify-content-center align-center">
                                        <h5 class="container text-center text-dark">
                                            <%= prenda.tipo%>
                                        </h5>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>


    <section class="navegacion-guardarropa botones-responsive d-flex justify-content-center align-center my-4" id="botones-prenda-index">
        <%= link_to guardarropas_path, class: "btn btn-volver-guardarropas btn-lg m-2" do %><i class="fas fa fa-arrow-left fa-sm"></i> <p class="d-inline">Guardarropas</p><%end%>
        <%= link_to guardarropa_atuendos_path(@guardarropa), class: "btn btn-crear btn-lg m-2" do %><i class="fas fa-list"></i> <p class="d-inline">Atuendos</p><%end%>
        <%= link_to new_guardarropa_prenda_path(@guardarropa), class: "btn btn-crear btn-lg m-2" do %><i class="fas fa-plus fa-sm"></i> <p class="d-inline">Crear prenda</p><%end%>
    </section>
    
</main>


