<nav class="navbar navbar-expand-lg landing-navbar sticky-top d-flex justify-content-around align-items-center">
    <div class="container">
        <div class="container d-flex justify-content-center">
            <a class="" href="/">
                <img class="img-fluid nav-icon" src="https://i.pinimg.com/564x/6e/35/5d/6e355d88a989d9856fd4c36aa7df997b.jpg" alt="Logo de Que Me Pongo">
            </a>
        </div>

<<<<<<< HEAD
                <div class="container d-flex justify-content-center">
                    <div id='clima-loader' class="text-light">
                        Cargando...
                    </div>
                    <div class = "nav-text text-light nav-clima" id="clima-container"></div>
                </div>

                
                <button class="navbar-toggler container " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <i class="fas fa-bars fa-2x"></i>
                </button>
                <div class="collapse  navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex justify-content-center align-items-center ms-auto"> 
                        <li class="nav-item px-3 py-2 rounded">
                            <a class="nav-text" href="/"><%=t('inicio')%></a>
                        </li>
                        <li class="nav-item px-3 py-2 rounded">
                            <a href="/#nosotros" class="nav-text"><%=t('nosotros')%></a>
                        </li> 
                        <li class="nav-item px-3 py-2 rounded">
                            <%= link_to login_path, class: "nav-text" do %>Iniciar&nbspsesion<% end %>
                        </li>
                        <li class="nav-item color-letra-terciario px-3 py-2 rounded">
                            <%= link_to "Registrarse", signup_path, class: "color-letra-terciario nav-text" %>
                        </li>
                        <li>
                            <%= select_tag "Idioma", options_for_select([["🇦🇷", "es"],["🇺🇸", "en"], ["🇩🇪","de"]]),:onchange => "idioma(this.value)", class:"text-center selector_idioma"%>
                        </li>
                    </ul>
                </div>
=======
        <div class="container d-flex justify-content-center">
            <div id='clima-loader' class="text-light">
                Cargando...
>>>>>>> 49ae5282f43e70dcfa4c7fd65657e0fc68b343eb
            </div>
            <div class = "nav-text text-light nav-clima" id="clima-container"></div>
        </div>

        
        <button class="navbar-toggler container" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <i class="fas fa-bars fa-2x"></i>
        </button>
        <div class="collapse  navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-center align-items-center ms-auto"> 
                <li class="nav-item px-3 py-2 rounded">
                    <a class="nav-text" href="/"><%=t('Inicio')%></a>
                </li>
                <li class="nav-item px-3 py-2 rounded">
                    <a href="/#nosotros" class="nav-text"><%=t('Nosotros')%></a>
                </li> 
                <li class="nav-item px-3 py-2 rounded">
                    <%= link_to login_path, class: "nav-text" do %>Iniciar&nbspsesion<% end %>
                </li>
                <li class="nav-item color-letra-terciario px-3 py-2 rounded">
                    <%= link_to "Registrarse", signup_path, class: "color-letra-terciario nav-text" %>
                </li>
                <li>
                    <%= select_tag "Idioma", options_for_select([["🇦🇷", "es"],["🇺🇸", "en"], ["🇩🇪","de"], ["🇮🇹","it"]]),:onchange => "idioma(this.value)", class:"text-center selector_idioma"%>
                </li>
            </ul>
        </div>
    </div>
</nav>