<nav class="navbar navbar-expand-lg landing-navbar sticky-top d-flex justify-content-around align-items-center">
    <div class="container">
        <div class="container d-flex justify-content-center tercio">
            <%=link_to root_path do%>
                    <img class="img-fluid nav-icon" src="https://i.pinimg.com/564x/6e/35/5d/6e355d88a989d9856fd4c36aa7df997b.jpg" alt="Logo de Que Me Pongo">
            <%end%>
        </div>

        <div class="container d-flex justify-content-center tercio">
            <div id='clima-loader' class="text-light">
                <%=t('Cargando') %>
            </div>
            <div class = "nav-text text-light nav-clima" id="clima-container"></div>
        </div>

        
        <button class="navbar-toggler container " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <i class="fas fa-bars fa-2x"></i>
        </button>
        <div class="collapse navbar-collapse tercio" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex justify-content-center align-items-center ms-auto"> 

                <li class="nav-item px-3 py-2 rounded">
                    <%= link_to t('Guardarropas'), guardarropas_path, class: "nav-text" %>
                </li>
                <li class="nav-item px-3 py-2 rounded">
                    <%= link_to t('Perfil'), profile_path, class: "nav-text" %>
                </li>
                <li class="logout-hover  px-3 py-2 rounded">
                    <%= link_to logout_path, method: :get, class: "nav-text", data: {confirm: t('Seguro_desea_cerrar_sesion?') } do %><%t('Cerrar_sesion') end %>
                </li>
                <li>
                    <%= select_tag "Idioma", options_for_select([["🇦🇷", "es"],["🇺🇸", "en"], ["🇩🇪","de"], ["🇮🇹","it"]]),:onchange => "idioma(this.value)", class:"text-center selector_idioma"%>
                </li>
            </ul>
        </div>
    </div>
</nav>
